!!!
html
  head
    title= 'nong.io'
    meta(charset='utf-8')
    link(rel='stylesheet', href='/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/ric.css')
    script(src='https://cdn.firebase.com/v0/firebase.js')
    script(src='/zepto.js')
    script(type="text/javascript")
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-39783240-2', 'nong.io');
      ga('send', 'pageview');
  body
    div#people
    .container
      .row
        .col-md-3.me
                h1
                  |Riccardo </br>
                  |Canalicchio
                p.gray software engineer portfolio
                p 
                  a(href="https://github.com/nongio") github
                p 
                  a(href="https://twitter.com/nongio") twitter
                p.tags
                  - each tag in getTags()
                    a(href=tagURL(tag)).label.label-ric #{tag}
        .col-md-7.col-md-offset-1
          block content
    footer.well
      .container
        p Riccardo Canalicchio - 2013 - made with: nodejs, express, poet, bootstrap, flatstrap