extends layout

block content
  br
  br
  a(href="/") 
    span.glyphicon.glyphicon-chevron-left
    |   back to portfolio
  h2 
    span.label.label-ric projects tagged #{tag}
    br
  - each post in posts
    include includes/postSnippet